# Application Port
PORT=3000

# Ngrok or public URL of your server (e.g. https://your-app.ngrok.io)
PUBLIC_URL=http://localhost:3000

# SCP Assets
LOGO_URL=
GIF_URL=

# Instagram / Meta API settings
META_VERIFY_TOKEN=your_random_secure_string_here
IG_PAGE_ACCESS_TOKEN=your_facebook_page_access_token_here

# Gmail Settings
# Ensure credentials.json is placed in the root directory
